

<div class="input project">
  <h2>Edit Project</h2>

  <form class="" action="/edit_project/<%= @project[:id] %>" method="post">
    <input type="hidden" name="_method" value="put">

    <label for="">Project</label>
    <input type="text" name="name" value="<%= @project[:name] %>">
    <label for="">Importance</label>
    <input type="range" name="importance" min="0" max="10" value="<%= @project[:importance] %>" step="1" />
    <label for="">Urgency</label>
    <input type="range" name="urgency" min="0" max="10" value="<%= @project[:urgency] %>" step="1" />
    <button>update project</button>
  </form>


  <form action="/delete_project/<%= @project.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
  <button>DELETE</button>
  </form>


</div>
<!-- show total estimated time for the project -->
