

<div class="list category">
  <ul>
    <li class="heading">Categories</li>
    <% if @current_categories %>
      <% @current_categories.each do |category| %>
      <!-- if the category is selected, highlight it-->
        <% if category == @current_category %>
          <li class="current fade_in">
        <% else %>
          <li >
        <% end %>
          <a href="/?c=<%=category.id %>"> <%=category.name %></a>
          <a href ="/edit_category/<%= category.id %>" ><img src="/images/edit.svg" alt="edit" class="icon"></a>
        </li>
      <% end %>
    <% end %>

    <li>
      <a href="/new_category"><img src="/images/plus.svg" alt="new" class="icon"> New Category</a>
    </li>
  </ul>
</div>






<div class="list project">
  <ul>
    <li class="heading">Projects</li>
    <% if @current_projects %>
      <% @current_projects.each do |project| %>
      <!-- if the project is selected, highlight it-->
        <% if project == @current_project %>
          <li class="current">
        <% else %>
          <li>
        <% end %>
          <a href="/?c=<%=project.category.id%>&p=<%=project.id %>"> <%=project.name %> </a>
          <a href ="/edit_project/<%= project.id %>" ><img src="/images/edit.svg" alt="edit" class="icon"></a>
        </li>

      <% end %>
    <% end %>

    <% if @current_category %>
      <li>
        <a href="/new_project/?c=<%=@current_category.id %>"><img src="/images/plus.svg" alt="new" class="icon">New Project</a>
      </li>
    <% end %>
  </ul>
</div>





<div class="list task">
  <ul>
    <li class="heading">Tasks</li>
    <% if @current_tasks %>
      <% @current_tasks.each do |task| %>
        <li>
          <%=task.name %>
          <a href ="/edit_task/<%= task.id %>" ><img src="/images/edit.svg" alt="edit" class="icon"></a>
        </li>

      <% end %>
    <% end %>

    <%if @current_project %>
      <li>
        <a href="/new_task/?p=<%=@current_project.id %>"><img src="/images/plus.svg" alt="new" class="icon">New Task</a>
      </li>
    <% end %>
  </ul>
</div>


<div class="links">

<a class="fake_button category" href="/list_form">Create To Do List</a>

<a class="fake_button category" href="/scatter_plot">Scatter Plot</a>

<a class="fake_button category" href="/completed_tasks">Show Completed Tasks</a>

</div>
